[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:NOTES-FOR-THE-MASSES/api-gateway.git
[submodule "auth-service"]
	path = auth-service
	url = git@github.com:NOTES-FOR-THE-MASSES/auth-service.git
